@import "tailwindcss";

@theme {
  --color-yellow: #DBAC2C;
  --color-yellow-light: #F1E9C9;
  --color-yellow-dark: #C47F17;
  --color-purple: #8047F8;
  --color-purple-light: #EBE5F9;
  --color-purple-dark: #4B2995;
  --color-base-title: #272221;
  --color-base-subtitle: #403937;
  --color-base-text: #574F4D;
  --color-base-label: #8D8686;
  --color-base-hover: #D7D5D5;
  --color-base-button: #E6E5E5;
  --color-base-input: #EDEDED;
  --color-base-card: #F3F2F2;
  --color-base-background: #FAFAFA;
  --color-base-white: #FFFFFF;
  --font-roboto: 'Roboto', sans-serif;
  --font-baloo: 'Baloo 2', cursive;
  --text-roboto-xs: 0.75rem;
  --text-roboto-sm: 0.875rem;
  --text-roboto-md: 1rem;
  --text-roboto-lg: 1.25rem;
  --text-roboto-2xl: 1.5rem;
  --text-baloo-xs: 1.125rem;
  --text-baloo-sm: 1.25rem;
  --text-baloo-md: 1.5rem;
  --text-baloo-lg: 2rem;
  --text-baloo-xl: 3rem;
  --text-weight-light: 300;
  --text-weight-normal: 400;
  --text-weight-medium: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;
}
